*:root {
  --DBfont:"Noto Serif JP serif";
  --DBfont2:"Bangers", system-ui;
}

body {
  background-image: url(../imagenes/BT3_Main_Menu.webp);
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;

  font-style: var(--DBfont);
}

/* Contenedor principal */

/* Título principal */
.historia-title {  
  display: flex;
  width: 350px;
  margin: 10px 5px 20px 5px;
  color: yellow;

  outline: orange 5px solid;
  border-radius: 3px;
  background-color: rgba(29, 166, 211, 0.567);
}

.back{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  font-family: var(--DBfont2);
  font-size: 25px;
  margin: 20px 125px;

  width: 100px;
  padding: 10px;

  color: #aee4ff;
  text-shadow: -2px -2px 0 #0d587e, 2px -2px 0 #0d587e, -2px 2px 0 #0d587e,
    2px 2px 0 #0d587e;


  outline: rgb(255, 255, 255) solid 2px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; 
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; 

  background: #3e87a3;
  background: linear-gradient(180deg,rgba(62, 135, 163, 1) 0%, 
    rgba(67, 139, 167, 1) 20%,
    rgba(55, 110, 130, 1) 50%,
    rgba(69, 145, 174, 1) 80%,
    rgba(74, 156, 189, 1) 100%);
}

/* Bloques de capítulos (uno sobre otro) */
.chapter-block {
  background: #aee4ffbf;
  border: 6px solid #0d587e;
  padding: 0 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s, background 0.2s;

  color: #aee4ff;
  text-shadow: -1px -1px 0 #0d587e, 1px -1px 0 #0d587e, -1px 1px 0 #0d587e,
    1px 1px 0 #0d587e;
}

h3 {
  margin: 5px;
  font-size: 20px;
}

.text_cap{
    text-align: justify;
}



/* Ocultos (almacenan el contenido real) */
.hidden-cap {
  display: none;
  
}


/* MODAL*/


.modal {
  display: none; /* Oculto por defecto */
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(3px);
}

.modal-content {
  background: #ffffff;
  margin: 20px auto;
  padding: 20px;
  width: 320px;
  max-width: 500px;
  border-radius: 12px;
  max-height: 90vh;
  overflow-y: auto; /* scroll interno */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* Botón cerrar */
.close-btn {
  font-size: 20px;
  cursor: pointer;
  position: fixed;
  top: 25px;
  right: 10px;
  background-color: rgb(178, 178, 178);
  padding: 5px 10px;
  border-radius: 50%;
}

.close-btn:hover {
  color: red;
}

/* Texto del modal */
.modal-body h2 {
  margin-top: 0;
}
