body {
  background-image: url(./imagenes/universo\ general.webp);
  background-attachment: fixed;
  background-size: 200%;
  background-position: center;
}

/* ----- Header general ----- */
.header {
  width: 100%;
  background-image: url(imagenes/chains.webp);
  background-size: 80%;
  color: white;

  border: 2px solid #ff0000;
  position: sticky;
  top: 010px;
  z-index: 9999;
  font-family: Arial, sans-serif;

  margin: auto;
  max-width: 360px;
}

.aclatoria {
  color: white;
  font-size: 20px;
  text-align: center;
  margin: auto;
  max-width: 360px;
  text-shadow: -1px -1px 0 #ff0000, 1px -1px 0 #ff0000, -1px 1px 0 #ff0000,
    1px 1px 0 #ff0000;
}

/* ----- Parte superior ----- */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  font-size: 1.1em;
}

.logo img {
  width: 32px;
  height: 32px;
  border-radius: 6px;
}

h1 {
  color: white;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000,
    1px 1px 0 #000000;
}

/* ----- Menú móvil (más pequeño y debajo del icono) ----- */
.mobile-menu {
  display: none;
  background: #fff;
  border-top: 1px solid #ddd;
  animation: fadeIn 0.3s ease;
  width: 30%;
  position: fixed;
  right: 0;
}

.mobile-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobile-menu li a {
  display: block;
  padding: 12px 12px;
  text-decoration: none;
  color: #222;
  border-bottom: 1px solid #eee;
}

.mobile-menu li a:hover {
  background: #e9e9e9;
}

/* ----- Main general ----- */
.main-content {
  padding: 15px;
  font-family: Arial, sans-serif;
}

/* ----- Header del multiverso ----- */
.multiverse-header h1 {
  font-size: 1.6em;
  margin-bottom: 5px;
  text-align: center;
}

.multiverse-header p {
  color: #fff7f7;
  font-size: 0.95em;
  margin-bottom: 20px;
}

/* ----- Lista de universos ----- */
.universes-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  
margin: auto;
  max-width: 360px;
}

/* ----- Tarjetas de universos ----- */
.universe-card {
  background: #fff;
  border-radius: 12px;
  padding: 15px;
  border: 3px solid #00000020;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  transition: 0.25s;

  
}

.universe-card:hover {
  transform: translateY(-3px);
}

.universe-number,
.universe-desc {
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000,
    1px 1px 0 #000000;
}

/* Número del universo */
.universe-number {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 5px;
  text-align: center;
  color: rgb(209, 94, 94);
}

/* Descripción */
.universe-desc {
  margin: 8px 0 12px 0;
  color: #ffcdcd;
  text-align: center;
}

/* Botón */
.btn-enter {
  display: flex;
  justify-content: center;
  padding: 10px;
  border: none;
  font-size: 1em;
  background: #222;
  color: #fff;
  outline: white 2px solid;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
}

.btn-enter:hover {
  background: #000;
}

/* ----- Colores por universo ----- */
.universe {
  border-color: #ee1212;
}

.uni-1 {
  background-image: url(./imagenes/DHMC.webp);
  background-position: center;
  background-size: 220px;
}

.uni-2 {
  background-image: url(./imagenes/PROTOTYPE.webp);
  background-position: center;
  background-size: 220px;
}

.uni-3 {
  background-image: url(./imagenes/sp\ omega.webp);
  background-position: center;
  background-size: 270px;
  font-size: 20px;
}

.uni-8 {
  background-image: url(./imagenes/DB\ UP\ back.webp);
  background-position: center;
  background-size: 330px;
}

.uni-9 {
  background-image: url(./imagenes/bloddy\ uakuza.webp);
  background-position: center;
  background-size: contain;
}
