body {
  background-image: url(./imagenes/fonfo.webp);
  background-attachment: fixed;
  background-size: 620px;
  background-position: center;
}

.DHMC_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  background: #7803038d;
  color: white;
  position: relative;

  margin: 20px auto;
  max-width: 360px;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  font-size: 25px;

  width: 100px;
  padding: 10px;

  color: #e2cdcd;
  text-shadow: -2px -2px 0 #b11d1d, 2px -2px 0 #e91f1f, -2px 2px 0 #e91f1f,
    2px 2px 0 #e91f1f;
}

.header_buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 10px;
}

.A {
  margin-bottom: 10px;
}

.DHMC_tittle {
  width: 50px;
  border-radius: 50%;
}

.DHMC_links {
  display: flex;
  justify-content: center;

  text-decoration: none;

  text-align: center;
  font-size: 20px;

  font-weight: 900;
}

.nav_toggle {
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  display: block;
}

.nav_menu {
  position: absolute;
  top: 100%;
  right: 0px;
  width: 30%;
  background-image: url(./imagenes/logo.webp);
  background-size: 85px;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.2s ease, transform 0.3s ease, visibility 0.3s;
}

.nav_menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  outline: rgb(255, 69, 69) solid;
}

.menu_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu_list a {
  color: rgb(237, 128, 128);
  text-decoration: none;
}

.universe-banner {
  background-image: url(./imagenes/DHMC\ LOGO2.webp);
  background-size: 270px;
  background-position: center;

  color: #423838;
  text-align: center;
  padding: 25px 10px;
  margin: 20px;
  border-radius: 14px;
  border: 3px solid #00000050;
  box-shadow: 0 0 25px rgba(255, 170, 0, 0.6);

  height: 180px;

  margin: auto;
  max-width: 360px;
}

.universe-page{
  
margin: auto;
  max-width: 360px;
}

.universe-banner h2 {
  font-size: 2em;
  font-weight: bold;
  text-shadow: 0 0 5px white;
}

.universe-banner .universe-title-desc {
  font-size: 1.5em;
  margin-top: 5px;
  color: white;
}

.uni-info-card {
  background: #965050c9;
  border: 3px solid #e4b200;
  border-radius: 12px;
  padding: 15px;
  margin: 20px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
}

.uni-info-card h3 {
  margin-bottom: 10px;
}

.uni-section {
  background: #5e5e5e81;
  border: 3px solid #ffca28;
  border-radius: 12px;
  padding: 15px;
  margin: 20px 20px;
  margin-bottom: 20px;
  color: white;
}

.hierarchy-card {
  background: #fff;
  border-left: 5px solid #ff9800;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 12px;
}

.isstory {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 20px 30px;
  width: 100px;
  padding: 10px;

  outline: rgb(255, 0, 0) solid 2px;

  border-radius: 10px;

  font-family: var(--DBfont2);
  font-size: 25px;
  text-decoration: none;
  text-align: center;
  color: #aee4ff;
  color: #e2cdcd;
  text-shadow: -2px -2px 0 #b11d1d, 2px -2px 0 #e91f1f, -2px 2px 0 #e91f1f,
    2px 2px 0 #e91f1f;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr) repeat(3, 0fr);
  grid-template-rows: 1fr repeat(4, 0fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 3;
}
