body {
  background-image: url(./imagenes/VVBXbAa.webp);
  background-attachment: fixed;
  background-size: 650px;
  background-position: center;
}

.Sp_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  background: #7803038d;
  color: white;
  outline: #0400ff solid;
  position: sticky;

  position: sticky;
  top: 010px;
  z-index: 9999;
  font-family: Arial, sans-serif;
  color: rgb(255, 0, 0);
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  font-size: 25px;

  width: 100px;
  padding: 10px;

  color: #e2cdcd;
  text-shadow: -2px -2px 0 #b11d1d, 2px -2px 0 #e91f1f, -2px 2px 0 #e91f1f,
    2px 2px 0 #e91f1f;
}

.header_buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 10px;
}

.A {
  margin-bottom: 10px;
}

.Sp_tittle {
  width: 50px;
  border-radius: 50%;
}

.Sp_links {
  display: flex;
  justify-content: center;

  text-decoration: none;

  text-align: center;
  font-size: 20px;

  font-weight: 900;
}

.nav_toggle {
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  display: block;
}

.nav_menu {
  position: absolute;
  top: 100%;
  right: 0px;
  width: 30%;
  background-image: url(./imagenes/logo.webp);
  background-size: 85px;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.2s ease, transform 0.3s ease, visibility 0.3s;
}

.nav_menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  outline: red solid;
}

.menu_list {
  list-style: none;
  padding: 0;
  font-size: 10px;
}

.menu_list a {
  color: rgb(237, 128, 128);
  text-decoration: none;
}

.universe-banner {
  background-image: url(./imagenes/spiderman.webp);
  background-size: 270px;
  background-position: center;

  color: #423838;
  text-align: center;
  padding: 25px 10px;
  margin: 20px 20px;
  border-radius: 14px;
  border: 3px solid #00000050;
  box-shadow: 0 0 25px rgba(255, 170, 0, 0.6);

  height: 180px;
}

.universe-banner h2 {
  font-size: 2em;
  font-weight: bold;
  color: rgb(255, 0, 0);
  text-shadow: -2px -2px 0 blue, -2px 2px 0 blue, 2px -2px 0 blue, 2px 2px 0 blue ;
}

.universe-banner .universe-title-desc {
  font-size: 1em;
  margin-top: 5px;
}

.uni-info-card {
  background: #e26464c9;
  border: 3px solid #0400ff;
  border-radius: 12px;
  padding: 15px;
  margin: 20px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
}

.uni-info-card h3 {
  margin-bottom: 10px;
}

.uni-section {
  background: #00000081;
  border: 3px solid #ffffff;
  border-radius: 12px;
  padding: 15px;
  margin: 20px 20px;
  margin-bottom: 20px;
  color: white;
}

.hierarchy-card {
  background: #fff;
  border-left: 5px solid #ff9800;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 12px;
}

.isstory {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: auto;
  width: 100px;
  padding: 10px;

  outline: rgb(255, 0, 0) solid 2px;
  background-color: #0400ff8d;

  border-radius: 10px;

  font-family: var(--DBfont2);
  font-size: 25px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  text-shadow: -2px -2px 0 #b11d1d, 2px -2px 0 #e91f1f, -2px 2px 0 #e91f1f,
    2px 2px 0 #e91f1f;
}


.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 10px;
  max-width: 550px;
  margin: 0 auto;
}

.item {
  color: white;
  padding: 15px;
  text-align: center;
  grid-column: span 2;
}

.item-bottom {
  grid-column: 2 / 4;
}